<div class="program"> 
  <div>
    <button id="button">save</button>
  <button id="button">load</button>
  <button id="button">color</button>
  <button id="button">square</button>
  <button id="button">triangle</button>
  <button id="button">rectangle</button>
  </div>
  <div>
    <div >
      <button class = "button"id = "functions"  ></button>
      <button class = "button"id = "functions" ></button>
      <button class = "button"id = "functions" ></button>
      <button class = "button"id = "functions" ></button>
    </div> 
    <div>shapes</div>     
  </div> 
</div>
