.program{
    width : 1500px;
    height: 100px;
    color : black;
    background-color: blue;
}

#button{
    height: 40px;
    margin-right: 20px;
    border-radius: 12px;
    background-color: blue;
}

#button:hover{
    background-color: black;
}

html, body
{
  width: 100%;
  height: 100%;
}
body
{
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: yellow;
}
